# PyCity Schools Analysis

- Charter Schools outperformed district schools in terms of average math and reading, as well as who passed math and reading. Factors determining performance will require more exploration.
- Small and Medium sized schools (2000 or fewer students) outperformed large schools in all areas.
- Students at schools with higher budgets ($630.00 per student or more) were outperformed by students at schools with smaller budgets.

---

In [180]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [182]:
school_data_complete["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [183]:
# Calculate the total number of unique schools -- use len() on the list of unique schools
school_count =len(school_data_complete["school_name"].unique())
school_count

15

In [184]:
# Calculate the total number of students - count of the number of student IDs
student_count = school_data_complete["Student ID"].count()
student_count

39170

In [185]:
# look at the school data dataframe - take a sum of the budget column
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [186]:
# Calculate the total budget
totalBudget = school_data["budget"].sum()
totalBudget

24649428

In [187]:
# Calculate the average (mean) math score - take the mean of the math_score column from school data complete dataframe
avgMathScore = school_data_complete["math_score"].mean()
avgMathScore

78.98537145774827

In [188]:
# Calculate the average (mean) reading score
avgReadingScore = school_data_complete["reading_score"].mean()
avgReadingScore

81.87784018381414

In [189]:
# use conditional to find all students who had a score of 70 or higher in math
passMathStudents = school_data_complete[school_data_complete["math_score"] >= 70]
#passMathStudents.head()
numPassMath = len(passMathStudents)
numPassMath

29370

In [190]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
# (number of students who passed math / total number of students) * 100
percentagePassedMath = (numPassMath / student_count) * 100
percentagePassedMath

74.9808526933878

In [191]:
# use conditional to find all students who had a score of 70 or higher in reading
passReadingStudents = school_data_complete[school_data_complete["reading_score"] >= 70]
#passReadingStudents.head()
numPassReading = len(passReadingStudents)
numPassReading

33610

In [192]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
# (number of students who passed math / total number of students) * 100
percentagePassedReading = (numPassReading / student_count) * 100
percentagePassedReading

85.80546336482001

In [193]:
# use conditional to find all students who had a score of 70 or higher in reading and math
passingStudents = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
#passingStudents.head()
numPassingStudents = len(passingStudents)
numPassingStudents

25528

In [194]:
# Use the following to calculate the percentage of students that passed math and reading
percentagePassed = (numPassingStudents / student_count) * 100
percentagePassed

65.17232575950983

In [195]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [196]:
# Create a high-level snapshot of the district's key metrics in a DataFrame - make a dictionary of lists
districtSummary = pd.DataFrame(
    {
        "Total Schools": [school_count],
        "Total Students": [student_count],
        "Total Budget": [totalBudget],
        "Average Math Score": [avgMathScore],
        "Average Reading Score": [avgReadingScore],
        "% Passing Math": [percentagePassedMath],
        "% Passing Reading": [percentagePassedReading],
        "% Overall Passing": [percentagePassed],
    }
)

# Formatting
districtSummary["Total Students"] = districtSummary["Total Students"].map("{:,}".format)
districtSummary["Total Budget"] = districtSummary["Total Budget"].map("${:,.2f}".format)
districtSummary["Average Math Score"] = districtSummary["Average Math Score"].map("${:,.2f}".format)
districtSummary["Average Reading Score"] = districtSummary["Average Reading Score"].map("${:,.2f}".format)
districtSummary["% Passing Math"] = districtSummary["% Passing Math"].map("${:,.2f}".format)
districtSummary["% Passing Reading"] = districtSummary["% Passing Reading"].map("${:,.2f}".format)
districtSummary["% Overall Passing"] = districtSummary["% Overall Passing"].map("${:,.2f}".format)

# Display the DataFrame
districtSummary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",$78.99,$81.88,$74.98,$85.81,$65.17

## School Summary

In [198]:
# look at the school data dataframe
school_data

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [199]:
# reset the pandas index in a new dataframe
school_types = school_data.set_index(["school_name"])
school_types

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [200]:
# Use the code provided to select the school type - get a series for all of the school types
school_types1 = school_types["type"]
school_types1

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [201]:
# Calculate the total student count - from each of the school - use value_counts() on the school_name column from complete data set
perSchoolCounts = school_data_complete["school_name"].value_counts()
perSchoolCounts

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [202]:
# get an average of the budgets for each school, do a groupby on the school_data complete
groupedSchoolDF = school_data_complete.groupby("school_name")
perSchoolBudget = groupedSchoolDF.mean("budget")
# turn the budget column into a series
perSchoolBudget = perSchoolBudget["budget"]
perSchoolBudget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [203]:
# Calculate the total school budget and per capita spending - school budgets / student counts
perSchoolCapita = perSchoolBudget / perSchoolCounts
perSchoolCapita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [204]:
# Calculate the average test scores per school from school_data_complete
groupedSchoolDF = school_data_complete.groupby("school_name")
# get the average math scores
avgMathScoreDF = groupedSchoolDF.mean("math_score")
# convert to a series by grabbing just the math_score column
perSchoolMathScores = avgMathScoreDF["math_score"]
perSchoolMathScores

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [205]:
# Calculate the average test scores per school from school_data_complete
groupedSchoolDF = school_data_complete.groupby("school_name")
# get the average reading scores
avgReadingScoreDF = groupedSchoolDF.mean("reading_score")
# convert to a series by grabbing just the reading_score column
perSchoolReadingScores = avgReadingScoreDF["reading_score"]
perSchoolReadingScores

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [206]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
schoolPassingMathDF = school_data_complete[school_data_complete["math_score"] >= 70]
schoolPassingMathDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [207]:
# use a groupby to count the number of students at each school who passed math
perSchoolPassingMathDF = schoolPassingMathDF.groupby("school_name")
perSchoolPassingMath = perSchoolPassingMathDF["student_name"].count()
perSchoolPassingMath

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: student_name, dtype: int64

In [208]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
schoolPassingReadingDF = school_data_complete[school_data_complete["reading_score"] >= 70]
schoolPassingReadingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [209]:
# use a groupby to count the number of students at each school who passed reading
perSchoolPassingReadingDF = schoolPassingReadingDF.groupby("school_name")
perSchoolPassingReading = perSchoolPassingReadingDF["student_name"].count()
perSchoolPassingReading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: student_name, dtype: int64

In [210]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
schoolPassingDF = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
schoolPassingDF

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [211]:
perSchoolPassingDF = schoolPassingDF.groupby("school_name")
perSchoolPassing = perSchoolPassingDF["student_name"].count()
perSchoolPassing

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: student_name, dtype: int64

In [212]:
# Use the provided code to calculate the passing rates
perSchoolPassingMathPCT = (perSchoolPassingMath / perSchoolCounts) * 100
perSchoolPassingReadingPCT = (perSchoolPassingReading / perSchoolCounts) * 100
perSchoolPassingPCT = (perSchoolPassing / perSchoolCounts) * 100
perSchoolPassingPCT

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [213]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    {
        "School Type": school_types1,
        "Total Students": perSchoolCounts,
        "Total School Budget": perSchoolBudget,
        "Per Student Budget": perSchoolCapita,
        "Average Math Score": perSchoolMathScores,
        "Average Reading Score": perSchoolReadingScores,
        "% Passing Math": perSchoolPassingMathPCT,
        "% Passing Reading": perSchoolPassingReadingPCT,
        "% Overall Passing": perSchoolPassingPCT,
    }
)

# Formatting
per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [215]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
topSchoolsDF = per_school_summary.sort_values(["% Overall Passing"], ascending=False)
topSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [217]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottomSchoolsDF = per_school_summary.sort_values(["% Overall Passing"])
bottomSchoolsDF.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [219]:
# first, grab all of the ninth graders - filter based on the grade column
#school_data_complete.head()
ninthGradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
#ninthGradersDF.head()
# second, use .groupby() to group students based on the school_name column
ninthGraderScoresDF = ninthGradersDF.groupby(["school_name"])
ninthGraderScoresDF.mean(numeric_only=True)
# grab the math score column and save as a series
ninthGradeMathScores = ninthGraderScoresDF["math_score"].mean()
ninthGradeMathScores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [220]:
# grab all of the tenth graders - filter based on the grade column
#school_data_complete.head()
tenthGradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
# second, use .groupby() to group students based on the school_name column
tenthGraderScoresDF = tenthGradersDF.groupby(["school_name"])
tenthGraderScoresDF.mean(numeric_only=True)
# grab the math score column and save as a series
tenthGradeMathScores = ninthGraderScoresDF["math_score"].mean()
tenthGradeMathScores

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [221]:
# grab all of the eleventh graders - filter based on the grade column
#school_data_complete.head()
eleventhGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
# second, use .groupby() to group students based on the school_name column
eleventhGraderScoresDF = eleventhGradersDF.groupby(["school_name"])
eleventhGraderScoresDF.mean(numeric_only=True)
# grab the math score column and save as a series
eleventhGradeMathScores = eleventhGraderScoresDF["math_score"].mean()
eleventhGradeMathScores

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [222]:
# grab all of the twelfth graders - filter based on the grade column
#school_data_complete.head()
twelfthGradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
# second, use .groupby() to group students based on the school_name column
twelfthGraderScoresDF = twelfthGradersDF.groupby(["school_name"])
twelfthGraderScoresDF.mean(numeric_only=True)
# grab the math score column and save as a series
twelfthGradeMathScores = twelfthGraderScoresDF["math_score"].mean()
twelfthGradeMathScores

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [223]:
# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
mathScoresByGradeDF = pd.DataFrame(
    {
        "9th": ninthGradeMathScores,
        "10th": tenthGradeMathScores,
        "11th": eleventhGradeMathScores,
        "12th": twelfthGradeMathScores
    }
)

# Minor data wrangling
mathScoresByGradeDF["9th"] = mathScoresByGradeDF["9th"].map("{:.2f}".format)
mathScoresByGradeDF["10th"] = mathScoresByGradeDF["10th"].map("{:.2f}".format)
mathScoresByGradeDF["11th"] = mathScoresByGradeDF["11th"].map("{:.2f}".format)
mathScoresByGradeDF["12th"] = mathScoresByGradeDF["12th"].map("{:.2f}".format)

# remove school_name from the pandas index
mathScoresByGradeDF.index.name = None

# Display the DataFrame
mathScoresByGradeDF

                         9th   10th   11th   12th
Bailey High School     77.08  77.08  77.52  76.49
Cabrera High School    83.09  83.09  82.77  83.28
Figueroa High School   76.40  76.40  76.88  77.15
Ford High School       77.36  77.36  76.92  76.18
Griffin High School    82.04  82.04  83.84  83.36
Hernandez High School  77.44  77.44  77.14  77.19
Holden High School     83.79  83.79  85.00  82.86
Huang High School      77.03  77.03  76.45  77.23
Johnson High School    77.19  77.19  77.49  76.86
Pena High School       83.63  83.63  84.33  84.12
Rodriguez High School  76.86  76.86  76.40  77.69
Shelton High School    83.42  83.42  83.38  83.78
Thomas High School     83.59  83.59  83.50  83.50
Wilson High School     83.09  83.09  83.20  83.04
Wright High School     83.26  83.26  83.84  83.64

## Reading Score by Grade

In [225]:
# first, grab all of the ninth graders - filter based on the grade column
#school_data_complete.head()
ninthGradersDF = school_data_complete[school_data_complete["grade"] == "9th"]
#ninthGradersDF.head()
# second, use .groupby() to group students based on the school_name column
ninthGraderScoresDF = ninthGradersDF.groupby(["school_name"])
ninthGraderScoresDF.mean(numeric_only=True)
# grab the reading score column and save as a series
ninthGradeReadingScores = ninthGraderScoresDF["reading_score"].mean()
ninthGradeReadingScores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [226]:
# grab all of the tenth graders - filter based on the grade column
#school_data_complete.head()
tenthGradersDF = school_data_complete[school_data_complete["grade"] == "10th"]
#tenthGradersDF.head()
# second, use .groupby() to group students based on the school_name column
tenthGraderScoresDF = tenthGradersDF.groupby(["school_name"])
tenthGraderScoresDF.mean(numeric_only=True)
# grab the reading score column and save as a series
tenthGradeReadingScores = ninthGraderScoresDF["reading_score"].mean()
tenthGradeReadingScores

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [227]:
# grab all of the eleventh graders - filter based on the grade column
#school_data_complete.head()
eleventhGradersDF = school_data_complete[school_data_complete["grade"] == "11th"]
#eleventhGradersDF.head()
# second, use .groupby() to group students based on the school_name column
eleventhGraderScoresDF = eleventhGradersDF.groupby(["school_name"])
eleventhGraderScoresDF.mean(numeric_only=True)
# grab the reading score column and save as a series
eleventhGradeReadingScores = eleventhGraderScoresDF["reading_score"].mean()
eleventhGradeReadingScores

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [228]:
# grab all of the twelfth graders - filter based on the grade column
#school_data_complete.head()
twelfthGradersDF = school_data_complete[school_data_complete["grade"] == "12th"]
#twelfthGradersDF.head()
# second, use .groupby() to group students based on the school_name column
twelfthGraderScoresDF = twelfthGradersDF.groupby(["school_name"])
twelfthGraderScoresDF.mean(numeric_only=True)
# grab the reading score column and save as a series
twelfthGradeReadingScores = twelfthGraderScoresDF["reading_score"].mean()
twelfthGradeReadingScores

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

In [229]:
# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
readingScoresByGradeDF = pd.DataFrame(
    {
        "9th": ninthGradeReadingScores,
        "10th": tenthGradeReadingScores,
        "11th": eleventhGradeReadingScores,
        "12th": twelfthGradeReadingScores
    }
)

# Minor data wrangling
readingScoresByGradeDF["9th"] = readingScoresByGradeDF["9th"].map("{:.2f}".format)
readingScoresByGradeDF["10th"] = readingScoresByGradeDF["10th"].map("{:.2f}".format)
readingScoresByGradeDF["11th"] = readingScoresByGradeDF["11th"].map("{:.2f}".format)
readingScoresByGradeDF["12th"] = readingScoresByGradeDF["12th"].map("{:.2f}".format)

# remove school_name from the pandas index
readingScoresByGradeDF.index.name = None

# Display the DataFrame
readingScoresByGradeDF

                         9th   10th   11th   12th
Bailey High School     81.30  81.30  80.95  80.91
Cabrera High School    83.68  83.68  83.79  84.29
Figueroa High School   81.20  81.20  80.64  81.38
Ford High School       80.63  80.63  80.40  80.66
Griffin High School    83.37  83.37  84.29  84.01
Hernandez High School  80.87  80.87  81.40  80.86
Holden High School     83.68  83.68  83.82  84.70
Huang High School      81.29  81.29  81.42  80.31
Johnson High School    81.26  81.26  80.62  81.23
Pena High School       83.81  83.81  84.34  84.59
Rodriguez High School  80.99  80.99  80.86  80.38
Shelton High School    84.12  84.12  84.37  82.78
Thomas High School     83.73  83.73  83.59  83.83
Wilson High School     83.94  83.94  83.76  84.32
Wright High School     83.83  83.83  84.16  84.07

## Scores by School Spending

In [231]:
# display the per_school_summary dataframe
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%

In [232]:
# display the max and the minimum per student budget
print(per_school_summary["Per Student Budget"].max())
print(per_school_summary["Per Student Budget"].min())

$655.00
$578.00

In [233]:
# Create a copy of the school summary since it has the "Per Student Budget"
schoolSpendingDF = per_school_summary.copy()
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [234]:
schoolSpendingDF.head()
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

In [235]:
# Ensure numeric columns are properly converted
school_data_complete["math_score"] = pd.to_numeric(school_data_complete["math_score"], errors='coerce')
school_data_complete["reading_score"] = pd.to_numeric(school_data_complete["reading_score"], errors='coerce')

In [236]:
# Define bins and labels
bins = [0, 580, 630, 645, 680]
labels = ["<$580", "$580-630", "$631-645", "$646-680"]

In [289]:
# Use pd.cut to catergorize spending based on the bins.
schoolSpendingDF["Spending Ranges (Per Student)"] = pd.cut(perSchoolCapita, bins, labels=labels, include_lowest=True)
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,$580-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,$580-630
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,$631-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,$631-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,$580-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,$646-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,$580-630
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,$646-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,$646-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,$580-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,$631-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,$580-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,$631-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,<$580
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,$580-630

In [291]:
#  since mapping was used earlier, convert all of the following formatted columns back to floats
schoolSpendingDF["Average Math Score"] = schoolSpendingDF["Average Math Score"].astype(float)
schoolSpendingDF["Average Reading Score"] = schoolSpendingDF["Average Reading Score"].astype(float)
schoolSpendingDF["% Passing Math"] = schoolSpendingDF["% Passing Math"].str.replace("%","").astype(float)
schoolSpendingDF["% Passing Reading"] = schoolSpendingDF["% Passing Reading"].str.replace("%","").astype(float) 
schoolSpendingDF["% Overall Passing"] = schoolSpendingDF["% Overall Passing"].str.replace("%","").astype(float)
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$580-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,$580-630
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$631-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$631-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$580-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$646-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,$580-630
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$646-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$646-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$580-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$631-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$580-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$631-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$580
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,$580-630

In [344]:
#  Calculate averages for the desired columns.
spending_math_scores = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\Mica Lenzo\AppData\Local\Temp\ipykernel_5784\442432847.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\Mica Lenzo\AppData\Local\Temp\ipykernel_5784\442432847.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\Mica Lenzo\AppData\Local\Temp\ipykernel_5784\442432847.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\Mica Lenzo\AppData\Local\Temp\ipykernel_5784\442432847.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\Mica Lenzo\AppData\Local\Temp\ipykernel_5784\442432847.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [342]:
# Assemble into DataFrame 1:10:47 TIMESTAMP
spendingSummaryDF = pd.DataFrame(
    {
        "Average Math Score": spending_math_scores,
        "Average Reading Score": spending_reading_scores,
        "% Passing Math": spending_passing_math,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
    }
)

spendingSummaryDF["Average Math Score"] = spendingSummaryDF["Average Math Score"].map("{:.2f}".format)
spendingSummaryDF["Average Reading Score"] = spendingSummaryDF["Average Reading Score"].map("{:.2f}".format)
spendingSummaryDF["% Passing Math"] = spendingSummaryDF["% Passing Math"].map("{:.2f}%".format)
spendingSummaryDF["% Passing Reading"] = spendingSummaryDF["% Passing Reading"].map("{:.2f}%".format)
spendingSummaryDF["% Overall Passing"] = spendingSummaryDF["% Overall Passing"].map("{:.2f}%".format)

# Display results
spendingSummaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$580,83.27,83.99,93.87%,96.54%,90.58%
$580-630,82.59,83.48,89.79%,94.40%,85.22%
$631-645,78.52,81.62,73.48%,84.39%,62.86%
$646-680,77.00,81.03,66.16%,81.13%,53.53%

## Scores by School Size

In [301]:
schoolSpendingDF2 = schoolSpendingDF.copy()
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$580-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,$580-630
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$631-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$631-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$580-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$646-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,$580-630
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$646-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$646-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$580-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$631-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$580-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$631-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$580
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,$580-630

In [303]:
# convert the total_students column 1:15:04 TIMESTAMP
schoolSpendingDF2["Total Students"] = schoolSpendingDF["Total Students"].str.replace(",","").astype(int)
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$580-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,$580-630
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$631-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$631-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$580-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$646-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,$580-630
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$646-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$646-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$580-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$631-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$580-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$631-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$580
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,$580-630

In [346]:
# Establish the bins 1:16:20 TIMESTAMP
schoolBins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [354]:
#pd.cut
schoolSpendingDF2["School Size"] = pd.cut(schoolSpendingDF2["Total Students"], schoolBins, labels=labels)
schoolSpendingDF2

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68,81.93,54.64,$580-630,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13,97.04,91.33,$580-630,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99,80.74,53.20,$631-645,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31,79.30,54.29,$631-645,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39,97.14,90.60,$580-630,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75,80.86,53.53,$646-680,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51,96.25,89.23,$580-630,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68,81.32,53.51,$646-680,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06,81.22,53.54,$646-680,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59,95.95,90.54,$580-630,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37,80.22,52.99,$631-645,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87,95.85,89.89,$580-630,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27,97.31,90.95,$631-645,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87,96.54,90.58,<$580,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33,96.61,90.33,$580-630,Medium (1000-2000)

In [372]:
# Calculate averages for the desired columns 1:24:13 TIMESTAMP
sizeGroupedDF = schoolSpendingDF2.groupby("School Size")

# Display results

sizeGroupedDF = sizeGroupedDF[["Average Math Score", "Average Reading Score", "% Passing Math",
                               "% Passing Reading", "% Overall Passing"]]

sizeGroupedDF = sizeGroupedDF.mean()

sizeGroupedDF["Average Math Score"] = sizeGroupedDF["Average Math Score"].map("{:.2f}".format)
sizeGroupedDF["Average Reading Score"] = sizeGroupedDF["Average Reading Score"].map("{:.2f}".format)
sizeGroupedDF["% Passing Math"] = sizeGroupedDF["% Passing Math"].map("{:.2f}".format)
sizeGroupedDF["% Passing Reading"] = sizeGroupedDF["% Passing Reading"].map("{:.2f}".format)
sizeGroupedDF["% Overall Passing"] = sizeGroupedDF["% Overall Passing"].map("{:.2f}".format)

sizeGroupedDF

C:\Users\Mica Lenzo\AppData\Local\Temp\ipykernel_5784\239242795.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  sizeGroupedDF = schoolSpendingDF2.groupby("School Size")

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.82,83.93,93.55,96.10,89.89
Medium (1000-2000),83.37,83.87,93.60,96.79,90.62
Large (2000-5000),77.75,81.34,69.96,82.77,58.28

In [314]:
# Create a copy of the school summary for later aggregations
school_size_df = per_school_summary.copy()

## Scores by School Type

In [378]:
# Group the per_school_summary DataFrame by "School Type" and average the results 1:27:35 TIMESTAMP
schoolTypeGroupedDF = schoolSpendingDF2.groupby("School Type")

# Use the code provided to select new column data
schoolTypeGroupedDF = schoolTypeGroupedDF[["Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]]

schoolTypeGroupedDF = schoolTypeGroupedDF.mean()

schoolTypeGroupedDF["Average Math Score"] = schoolTypeGroupedDF["Average Math Score"].map("{:.2f}".format)
schoolTypeGroupedDF["Average Reading Score"] = schoolTypeGroupedDF["Average Reading Score"].map("{:.2f}".format)
schoolTypeGroupedDF["% Passing Math"] = schoolTypeGroupedDF["% Passing Math"].map("{:.2f}".format)
schoolTypeGroupedDF["% Passing Reading"] = schoolTypeGroupedDF["% Passing Reading"].map("{:.2f}".format)
schoolTypeGroupedDF["% Overall Passing"] = schoolTypeGroupedDF["% Overall Passing"].map("{:.2f}".format)

schoolTypeGroupedDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67